.box_field {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.content_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.nav_pages {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.page_button {
  padding: 10px 15px;
  margin: 0 5px;
  border: 2px solid #007bff;
  background-color: white;
  color: #007bff;
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  border-radius: 5px;
  user-select: none;
}

.page_button:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 123, 255, 0.5);
}

.page_button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
}

.language_button {
  padding: 10px 15px;
  margin: 0 5px;
  border: 2px solid #007bff;
  background-color: white;
  color: #007bff;
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  border-radius: 5px;
  user-select: none;
}

.language_button.active {
  background-color: #007bff;
  color: white;
  border-color: #0056b3;
}

.language_button:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 123, 255, 0.5);
}

.language_button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
}

.search_box {
  padding: 10px 15px;
  width: 100%;
  max-width: 400px;
  border: 2px solid #007bff;
  border-radius: 25px;
  outline: none;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s;
}

.search_box::placeholder {
  color: #888;
}

.search_box:focus {
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 24px;
  font-family: "Arial", sans-serif;
  color: #555;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
