.navbar {
  z-index: 1000;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.navLinks {
  list-style: none; 
  display: flex;
  justify-content: center;
  padding: 0; 
  margin: 0; 
}

.navLinkItem {
  margin-right: 30px; 
  text-decoration: none; 
  color: #333; 
}

.navLinkItem:last-child {
  margin-right: 0; 
}

.navLinkItem a {
  text-decoration: none; 
  color: inherit; 
  transition: color 0.3s; 
}

.navLinkItem a:hover {
  color: #007bff; 
}
